<!DOCTYPE HTML>
<html ng-app="main">
  <head>
    <title>Angular Top Songs</title>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" type="text/css" href="src/main.css">
  </head>
  <body>
    <div class="container" ng-controller="MainCtrl as Main">
      <div class="row">
        <div class="col-xs-2">
          <!--playlist here -->
        </div>
        <div class="col-xs-10">
          <song-searchbar can-search="Main.isNotWaiting()" on-search="Main.dataHandler(data)"></song-searchbar>
          <artists info="Main.data.artists",
            action="Main.getAlbumsByArtist(id)"
            get-more="Main.more('artist')"
            load-start-event="{{::Main.loadStartEvent}}"
            load-end-event="{{::Main.loadEndEvent}}"></artists>
          </div>
          <div ng-if="Main.hasResults.albums">
            <div class="results-container">
              <result class="result" info="Main.data.albums.items[0]" action="Main.logThing(id)" cta-text="View Tracks"></result>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% vendor_deps.forEach(function(dep) { %>
      <script type="text/javascript" src="vendor/<%= dep %>"></script>
    <% }); %>

    <% src_deps.forEach(function(dep) { %>
      <script type="text/javascript" src="src/<%= dep %>"></script>
    <% }); %>
  </body>
</html>
