<!DOCTYPE HTML>
<html ng-app="main">
    <head>
        <title>Angular Top Songs</title>
    </head>
    <body>
        <div ng-controller="MainCtrl as Main">
            {{Main.name}}
            <song-searchbar on-search="Main.searchHandler(data)"></song-searchbar>
        </div>
        <% vendor_deps.forEach(function(dep) { %>
            <script type="text/javascript" src="vendor/<%= dep %>"></script>
        <% }); %>

        <% src_deps.forEach(function(dep) { %>
            <script type="text/javascript" src="src/<%= dep %>"></script>
        <% }); %>
    </body>
</html>
