<div ng-if="Albums.info.items">
  <a href="javascript:void(0);"
    ng-hide="Albums.displayOnly"
    ng-click="Albums.toggleCollapsed()"
    class="btn"
    ng-class="{
      'btn-danger': Albums.collapsed,
      'btn-success': !Albums.collapsed
    }">
    <h3>
      <span class="glyphicon"
        ng-class="{
          'glyphicon-plus': Albums.collapsed,
          'glyphicon-minus': !Albums.collapsed
        }"></span>
        Albums
    </h3>
  </a>
  <div uib-collapse="Albums.collapsed">
    <button class="btn btn-danger"
      ng-if="Albums.displayOnly"
      ng-click="Albums.goBack()">
      Back to search
    </button>
    <div class="results-container">
      <result ng-repeat="album in Albums.info.items"
        class="result"
        info="album"
        action="Albums.action(album.id)"
        cta-text="View Tracks"></result>
      <div class="result load-more" ng-if="Albums.info.next">
        <div class="thumbnail">
          <button class="load-more-btn btn btn-success"
            ng-disabled="!Albums.canLoadMore"
            ng-click="Albums.more()">
            View More Albums
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
